body {
    font-family: 'Montserrat';
    margin: 0;
}

.flex {
    display: flex;
    margin: 20px;
}

.width-txt {
    padding-top: 10%;
    width: 50%;
}

.first-section {
    padding-bottom: 100px;
    margin: 5%;
    background-image: url(images/Group-8450.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 56% 600px;
}

.orange {
    color: rgb(235, 153, 1);
}

h1 {
    font-size: 50px;
    color: rgb(87, 87, 87);
    font-weight: 700px;
}

h2 {
    font-size: 30px;
    color: rgb(122, 118, 116);
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 700;
}

.clr-p-in-first-sec {
    color: rgb(159, 159, 159);
    font-weight: 500;
    font-size: 17px;
}

.button-box {
    width: 100px;
    box-shadow: 0px 0px 30px rgb(237, 207, 151);
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    border-radius: 50px;
    background-image: linear-gradient(270deg, rgba(235, 52, 1, 1) 0%, rgba(252, 139, 71, 1) 78%);
}

.button-text {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.second-section {
    background-image: url(images/7.png);
    background-size: 100% 100%;
    display: flex;
    padding: 0;
    margin: 0px;
}

.half-width-txt {
    width: 60%;
    padding-top: 10%;
    padding-right: 100px;
}

.half-width-img {
    padding-left: 200px;
    width: 40%;
    padding-top: 60px;
}

.half-width-img img {
    width: 250px;
    height: 400px;
}

.third-section {
    text-align: center;
    margin-top: 60px;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    box-shadow: 0px 0px 15px gray;
    padding: 2% 2% 0%;
    text-align: left;
}

.recipe {
    height: 50%;
    width: 100%;
    border-radius: 30px;
}

.recipe img {
    width: 100%;
    height: 100%;
}